<app-header></app-header>

<!-- <ul *ngFor="let user of users">
  <!-- <li>{{ user.username }}</li>
</ul> -->

<!-- <button (click)="signgout()">Logout</button> -->

<button id="viewBooking" class="btn btn-danger">View Booking</button>

<mat-card class="demo-inline-calendar-card">
  <mat-calendar
    class="calander"
    [(selected)]="selectedDate"
    [dateFilter]="preventSelection"
    (selectedChange)="updateSelectedTime()"
  >
  </mat-calendar>
  <p>Selected date: {{ selectedDate }}</p>
</mat-card>

<button id="AddBooking" class="btn btn-danger">Add Booking</button>

<div class="Meal-Day">
  <table>
    <tr>
      <th>Lunch</th>
      <th>Dinner</th>
    </tr>
    <tr>
      <td>Bhinda fry</td>
      <td>Bhinda fry</td>
    </tr>
    <tr>
      <td>Rice</td>
      <td>Rice</td>
    </tr>
    <tr>
      <td>Dal</td>
      <td>Dal</td>
    </tr>
    <tr>
      <td>Roti</td>
      <td>Roti</td>
    </tr>
  </table>
</div>
<button mat-raised-button color="primary">Add Booking</button>
