<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-6">
        <div class="logo">
          <img
            src="../../../../assets/logo-white.svg"
            class="logo"
            alt="Rishab Software"
          />
          <span>Meal Facility</span>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-6 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{ menu_icon }}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li (click)="closeMenu()" routerLink="/login">Home</li>
            <li (click)="closeMenu()" routerLink="/aboutus">About</li>
            <li (click)="closeMenu()" routerLink="/policy">Policy</li>
            <li (click)="closeMenu()" routerLink="/terms">Terms</li>
            <li (click)="logout()" routerLink="/login">Logout</li>
            <li>Hello, {{ fullName }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
